/**
 * @fileOverview: 公共底部
 * @version: 1.0.0(2017-5-17)
 * @author: Benson
 * @updatatime:
 */

// 引入变量
@import '~varLess';
/* foter bar */
.footer-bar-list{
    display: flex;
    width: 100%;
    font-size: @font-size-subhead;
    .bar-item{
        position: relative;
        flex:1;
        text-align: center;
        .icon{
            font-size: @icon-size-md;
        }
        .cat-num{
            position: absolute;
            top: 50%;
            right: 50%;
            width: 45px;
            height: 45px;
            margin: -40px -76px 0  0;
            background: #c72b66;
            line-height: 45px;
            color: #fff;
            font-size: @font-size-base;
            text-align: center;
            border-radius: 50%;
        }
    }
}
