/**
 * @fileOverview: 定义一些常用的变量，如颜色值或字体大小
 * @version: 1.0.0(2017-5-16)
 * @author: Benson
 * @updatatime:
 */

/*  全局  */
@brand-primary: #108ee9;  //全站主色
@brand-success: #6abf47;  //成功
@brand-warning: #f86f47;  //警告
@brand-error: #f4333c;    //失败
@brand-hot: #F96268;      //热门

/*  字体颜色  */
@color-text-base: #333;         //默认颜色
@color-text-base-inverse: #000; //深色背景下的文字
@color-text-placeholder: #ccc;  //input输入框
@color-text-disabled: #bbb;     //失效
@color-link: #002e5f;           //链接的颜色
@color-shadow: #808080;         //阴影色

/*  背景填充  */
@fill-base: #fff;    //组件默认背景
@fill-body: #f5f5f9; //页面背景
@fill-top: #ddd;     //默认背景按下
@fill-disabled: #ddd;//失效背景
@fill-mask: #000;    //遮罩背影，要配合透明度来使用
@fill-overlay-inverse: #000; //浮层背景反色，要配合透明度来使用

/*  边框  */
@border-color-base: #506a85;  //基本边框色

/*  边框尺寸  */
@border-width-sm: 1px;    //标准边框
@border-width-md: 2px;    //中边框
@border-width-lg: 4px;    //大边框

/*  字体  */
@font-family-base: PingFang SC,Helvetica Neue,Hiragino Sans GB,Helvetica,Microsoft YaHei,Arial;

/*  字体尺寸  */
@font-size-icontext: 20px;  //图标辅助文字
@font-size-cation-sm: 24px; //辅助文字 - 小
@font-size-base: 26px;      //基本字体
@font-size-subhead: 28px;   //副标题
@font-size-caption: 30px;   //辅助文字
@font-size-heading: 34px;   //标题字体
@font-size-display-sm: 36px;//展示型字体 - 小
@font-size-display-md: 42px;//展示型字体 - 中
@font-size-display-lg: 48px;//展示型字体 - 大
@font-size-display-xl: 60px;//展示型字体 - 超大

/*  间距尺寸  */
// 水平
@h-spacing-sm: 15px;
@h-spacing-md: 20px;
@h-spacing-lg: 30px;
// 垂直
@v-spacing-xs: 6px;
@v-spacing-sm: 15px;
@v-spacing-md: 20px;
@v-spacing-lg: 30px;

/*  图标尺寸  */
@icon-size-xxs: 30px;
@icon-size-xs: 36px;
@icon-size-sm: 42px;
@icon-size-md: 48px;
@icon-size-lg: 72px;

/* 定义rem */
@font-size-num:100;
@rem:1rem * @font-size-num;
