/**
 * @fileOverview: 购物车首页
 * @version: 1.0.0(2017-6-19)
 * @author: Benson
 * @updatatime:
 */

// 引入变量
@import '~varLess';

@prefixCls: ky-cart;

//顶部导航
.navbar-cart-tit{
    .icon{
        padding-right: 10px;
        font-size: 38px;
    }
}
