/**
 * @fileOverview: 首页
 * @version: 1.0.0(2017-5-17)
 * @author: Benson
 * @updatatime:
 */

// 引入变量
@import '~varLess';

.m-category{
    padding: @v-spacing-sm @h-spacing-sm 0;
    .sub-view{
        background: @brand-blue-bady;
        padding: @h-spacing-sm;
        padding-top: 0;
    }
}
